body {
  margin: 0;
  padding: 0;
  background: radial-gradient(
    circle,
    rgba(250, 180, 252, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  color: #1e1e1f;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
